<form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
  <input type="text" formControlName="name" placeholder="Jane Doe">
  <div id="card-element" class="field" #card></div>
  <button type="submit" #button>
    BUY
  </button>

  <button (click)="refund()" #button1>
    Refund
  </button>
</form>